<div class="container base-container">
    <div class="col-md-10 col-md-push-1 card">
        <ng-include src="'/guest/views/header.html?v=constant.ver'"></ng-include>
        <br />
        <p class="lead-text">
            Bayar pajak kendaraan bermotor jadi lebih mudah
        </p>

        <div class="row hm-boxes-container">
            <div class="col-md-3 col-sm-3 hm-boxes">
                <img src="/sitedata/img/data.png" class="img-responsive img-scale">
                <br>
                <span class="hm-titles">
                    Lengkapi Data
                </span>
            </div>
            <div class="col-md-3 col-sm-3 hm-boxes">
                <img src="/sitedata/img/upload.png" class="img-responsive img-scale">
                <br>
                <span class="hm-titles">
                    Unggah Dokumen
                </span>
            </div>
            <div class="col-md-3 col-sm-3 hm-boxes">
                <img src="/sitedata/img/pay.png" class="img-responsive img-scale">
                <br>
                <span class="hm-titles">
                    Pembayaran
                </span>
            </div>
            <div class="col-md-3 col-sm-3 hm-boxes">
                <img src="/sitedata/img/proof.png" class="img-responsive img-scale">
                <br>
                <span class="hm-titles">
                    Ambil Bukti Pembayaran
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-push-2 col-lead-text-sec">
                <span>
                    Mohon persiapkan file gambar <br>
                    <strong class="st-red">
                        KTP, BKPB, STNK dan Surat Ketetapan Pajak Tahun Terakhir
                    </strong><br>
                    untuk kelancaran proses ini.
                </span>
            </div>
        </div>
        <br />
        <div class="text-center">
            <a href="/step1" class="btn btn-success btn-lg">MULAI</a>
        </div>
    </div>
</div>


